/*
CSS Style
Author: P Ferrigolo
Wed nov 22 2023
*/

*{
    font-size: 12px;
}

body {
    background-color: #f1f1f1;
    margin: 20px;
}

h1 {
    font-size: 2rem;
    color: blueviolet;
    font-weight: bold;
    text-align: center;
}
.form {
    font-size: 15px;
    color: red;
    font-weight: bold;
}